@import "tailwindcss";

@theme {
  --color-primary: #f48c25;
  --color-background-light: #f8f7f5;
  --color-background-dark: #221910;
  --font-display: "Noto Sans SC", "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-display antialiased;
  }
}

.masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-auto-rows: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

